<!doctype html>
<html>
  <head>
    <title>Nikita</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="http://code.angularjs.org/1.0.1/angular-1.0.1.js"></script>
    <script src="/nikita.js"></script>
  </head>
  <body ng-app>

    <div ng-controller="AppCtrl">

      <div class="thumbs">
        <div class="thumb" ng-repeat="work in works" ng-click="showWork(work)">
          <img ng-src="/thumbs/{{work.thumb}}" />
          <div class="title">{{work.title}}</div>
        </div>
      </div>

      <div class="detail" ng-show="detail">
        <img ng-src="/detail/{{detailImg}}" />
        <h1>Work: {{detail.title}}</h1>
        <button ng-click="last()">Last</button>
        <button ng-click="next()">Next</button>
      </div>


    </div>

  </body>
</html>
