<!doctype html>
<html>
  <head>
    <title>Nikita</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/lib/colorbox.css" />
    <script src="/lib/underscore.js"></script>
    <script src="/lib/jquery.js"></script>
    <script src="/lib/jquery.colorbox.js"></script>
    <script src="/nikita.js"></script>
  </head>
  <body>

    <div class="horizon" />
      <div class="name">NIKITA SHOSHENSKY</div>
      <div class="left_end"></div>
      <div class="thumbs"></div>

      <div class="bio">
<p>
<strong>About</strong>
<br />Nikita Shoshensky, b.1984 Moscow, Russia.
<br />lives and works in Brooklyn, New York.
</p>

<p>
<strong>Education</strong>
<br />BFA Cooper Union for the Advancement of Science and Art: 2003- 2007
<br />Exhibitions
<br />"Screens" 41 Cooper Gallery, April 10- 15 2012
<br />"Brucennial 2012" 159 Bleecker st, March 1- April 20 2012
<br />"Reflecting on History OR What Became of My Red Star" ICO Gallery July 8- 15 2010
<br />"BTHCBFFS" 1717 Troutman st. , November 7-15 2009
<br />"QUIZOTIC" 1717 Troutman st. , September 19-25 2009
<br />"Phillips de Pury & Co. Staff Show" July 2008
<br />"Bushwick Open Studios: Opening of Harrison Space" May 2008
<br />"JCTC & Arts on the Hudson" December 2007
<br />"ISE Cultural Foundation: Annual Exhibition 2007" ISE Cultural Center, July 2007
<br />"End of the Year Exhibition" (site specific installation): Cooper Union May 2007
<br />"Long Island City Open Studios" May 2007
<br />"Barrow Gang" Houghton Gallery April 2007
<br />"Microsoft Paint" Great Hall Lobby March 2007
<br />"Lavender: the Most Patriotic Color" Houghton Gallery February 2007
</p>
      </div>
    </div>

    <script id="thumb_template" type="text/x-underscore-template">
      <div class="thumb">
        <a class="colorbox imageLink" rel="<%= work.id %>" title="<%= work.info %>" href="/detail/<%= work.detail %>"><img src="/thumbs/<%= work.thumb %>" /></a>
        <div class="details">
          <div class="title"><%= work.title %></div>
          <% if (work.subtitle) { %><div class="subtitle"><%= work.subtitle %></div><% } %>
          <div class="medium"><%= work.medium %></div>
        </div>
        <% work.more.forEach(function(m) { %>
          <a class="colorbox hide" rel="<%= work.id %>" title="<%= work.info %>" href="/detail/<%= m %>"></a>
        <% }) %>
      </div>
    </script>

  </body>
</html>
