<!doctype html>
<html>
  <head>
    <title>Nikita</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/lib/colorbox.css" />
    <script src="/lib/underscore.js"></script>
    <script src="/lib/jquery.js"></script>
    <script src="/lib/jquery.colorbox.js"></script>
    <script src="/nikita.js"></script>
  </head>
  <body>

    <div class="thumbs">
    </div>

    <script id="thumb_template" type="text/x-underscore-template">
      <div class="thumb">
        <a class="colorbox imageLink" rel="<%= id %>" href="/detail/<%= detail %>"><img src="/thumbs/<%= thumb %>" /></a>
        <div class="title"><%= title %></div>
        <% more.forEach(function(m) { %>
          <a class="colorbox hide" rel="<%= id %>" href="/detail/<%= m %>"></a>
        <% }) %>
      </div>
    </script>

  </body>
</html>
