body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

a:focus {
  outline: none;
}

.hide {
  display: none;
}


.horizon {
  height: 450px;
  position: absolute;
  top: 50%;
  margin-top: -270px;
  width: 6000px;
}

.name {
  margin-left: 10px;
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
  color: #808080;
}

.left_end {
  width: 220px;
  height: 452px;
  background: url(/assets/left-end.gif);
  float: left;
}


.thumbs {
  border-top: 1px solid #999;
  width: auto;
  float: left;
}

.thumb {
  float: left;
}

.thumb .details {
  max-width: 150px;
  font-size: 10px;
  line-height: 14px;
}
.thumb .title {
  color: #666;
  font-weight: bold;
  font-style: italic;
}
.thumb .subtitle {
  color: #999;
}
.thumb .medium {
  color: #999;
  font-size: 9px;
  font-style: italic;
}

.thumb img {
  border-bottom: 1px solid #999;
}
.thumb:last-child img {
  border-right: 1px solid #999;
}

.thumb:hover {
  opacity: 0.5;
}


.bio {
  border: 1px solid #999;
  width: 620px;
  padding: 10px;
  margin-left: 20px;
  float: left;
}
