body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

a:focus {
  outline: none;
}

.hide {
  display: none;
}


.horizon {
  height: 450px;
  position: absolute;
  top: 50%;
  margin-top: -270px;
}

.name {
  margin-left: 10px;
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
  color: #808080;
}

.left_end {
  width: 220px;
  height: 452px;
  background: url(/assets/left-end.gif);
  float: left;
}


.thumbs {
  border-top: 1px solid #999;
  width: auto;
  float: left;
}

.thumb {
  float: left;
}

.thumb img {
  border-bottom: 1px solid #999;
}

.thumb:hover {
  opacity: 0.5;
}
